@use "./base.scss";

// put your custom CSS here!


// fixup superscripts
sup {
  font-size: 0.65em;
  vertical-align: top;
}

//// dividers ////
hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 4em auto;
  border: none;
  text-align: center;
  width: 100%;
 
  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: var(--gray);
  }
}


// center mermaid diagrams only if `mermaid-center` css class is applied

.mermaid-center .mermaid {
  justify-items: center;
}
